body{
    background-color: #f5f5f5;
}
.header{
    margin:auto!important;
    padding-bottom:20px;
}

.navbar{
    background:#4e84db;
}

header nav li.nav-item, header nav li a.nav-link {
    color:white!important;
}

/* User */

.profile-pic{
    border-radius: 50%;
}


/* Tasks Specific */

.task_url{
    text-decoration: none;
    color:black;
}

.task_url:hover{
    text-decoration: none;
    color:black;
}


.task_table{
    border-bottom:1px solid darkslategrey;
    border-collapse: separate!important;
}
