<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if dashboard %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    {% endif %}
    {% if login %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    {% endif %}
    {% if index %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% endif %}
        {% if title %}
        <title>{{ title }} - Project Management </title>
        {% else %}
        <title>Welcome - Project Management </title>
        {% endif %}

    </head>
    <body>
     <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='project_man2.png') }}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   <a class="nav-link" class="navbar-brand" href="{{ url_for('index') }}">Home </a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login </a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-pic" src="https://via.placeholder.com/30 ">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                        <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit your profile</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('tasks') }}">Tasks</a>
                        <a class="dropdown-item" href="{{ url_for('task_create') }}">Create</a>
                    </div>
                </li>
                <li class="nav-item">
                   <a class="nav-link" class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard </a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    </nav>
 </header>
 <main role="main">
 {% if not index %}
    <div class="container">
{% endif %}

{% if not index %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
{%- for breadcrumb in breadcrumbs -%}
    {% if not loop.last %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a></li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
    {% endif %}

{%- endfor -%}
  </ol>
</nav>
{% endif %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul  class="alert alert-danger" role="alert"
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
     {% if not index %}
    </div>
    {% endif %}
</main>
<footer class="container">
        
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
</script>


    </body>
</html>
